.enlarge:hover {
  transform: scale(1.2, 1.2);
  transition: all 500ms ease-out;
}

.enlarge {
  transform: scale(1, 1);
  transition: all 500ms ease-out;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.is-online {
  animation: fa-blink 1.5s linear infinite;
  color: rgb(1, 189, 42);
}
